<div class="menubar">
    <h3>Categories</h3>
    <div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Hair
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <ul class="list-group">
            <li class="list-group-item active">Straight Hair</li>
            <li class="list-group-item">Curly Hair</li>
            <li class="list-group-item">Hair Regrowth</li>
            <li class="list-group-item">Hair Coloring</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Skin
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
            <ul class="list-group">
                <li class="list-group-item active">Dry Skin</li>
                <li class="list-group-item">Oily Skin</li>
                <li class="list-group-item">Pimple Care</li>
                <li class="list-group-item">Clear Skin</li>
            </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Body Fat 
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
            <ul class="list-group">
                <li class="list-group-item active">Fat Burner</li>
                <li class="list-group-item">Recommended Excercises</li>
                <li class="list-group-item">Diet</li>
            </ul>
      </div>
    </div>
  </div>
</div>
</div>
